venv/
__pycache__/
db.sqlite3
media/
staticfiles/
*.pyc
.env
tmp.py
# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Optional (safe)
*.tfstate
*.tfstate.backup