{% extends "base.html" %}
{% block content %}

<div class="card shadow-lg p-4">
    <h2 class="mb-4">Upload Photo</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Title</label>
            {{ form.title }}
        </div>

        <div class="mb-3">
            <label class="form-label">Image</label>
            {{ form.image }}
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
        <a href="{% url 'photo_list' %}" class="btn btn-secondary">Back</a>
    </form>
</div>

{% endblock %}
